---
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ siteMeta.author.name }}</title>
  <subtitle>{{ siteMeta.description }}</subtitle>
  <link href="{{ siteMeta.url }}" rel="self"/>
  <link href="{{ siteMeta.url }}"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ siteMeta.url }}</id>
  <author>
    <name>{{ siteMeta.author.name }}</name>
    <email>{{ siteMeta.author.email }}</email>
  </author>
  {%- for post in collections.posts %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(siteMeta.url) }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
        &lt;hr/&gt; &lt;p&gt;&lt;a href=&#39;mailto:arpitbatra123@gmail.com?subject=Reply: {{post.data.title}}&#39;&gt;Reply via email&lt;/a&gt; &lt;/p&gt;
      </content>
    </entry>
  {%- endfor %}
</feed>