<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/terminal.css@0.6.6/dist/terminal.min.css"
    />
    <link rel="stylesheet" href="./styles/blogpost.css" />
  </head>
  <body class="terminal">
    <div class="container post-container">
      <div class="header">
        <h1><%- pageTitle %></h1>
      </div>
    </div>
    <div class="container content">
      <%- content %>
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>