<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
    </head>
    <body>
        <h1><%- pageTitle %></h1>

        <%- content %>
        <footer>
        © Arpit Batra
        </footer>
    </body>
</html>