/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../assets/fonts/ibm-plex-sans-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/ibm-plex-sans-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../assets/fonts/ibm-plex-sans-v8-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/ibm-plex-sans-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #394655;
  background: #fffef7;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 650px;
    }
    .back-link {
      font-size: 24px;
      margin-top: 8px;
      a {
        text-decoration: none;
        color: brown;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
