::selection {
  color: white;
  background-color: brown;
}

::-moz-selection {
  color: white;
  background-color: brown;
}

body {
  font-family: 'Noto Serif KR', 'IBM Plex Sans', serif;
  background: #f6f6f6;
}

.container {
  width: 50%;
  padding: 0 25%;
}

a {
  text-decoration: none;
  color: brown;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
